/*================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 5.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================*/

/*================================================================================
NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.
================================================================================*/
.profile-pic {
    position: relative;
    max-width:130px;
    max-height:130px;
    width: auto;
    height: auto;
    overflow: hidden;
    margin: -31px;
    margin-left:-7px;
    border: 6px solid rgba(0, 77, 64, 0.4);
    border-radius: 50% !important;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
  }
  
  .social {
    margin-top: 20px;
  }
  
  .icon-btn {
    width: 50px;
    height: 50px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-btn:hover {
    transform: scale(1.10);
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .github {
    background-color: #333;
  }
  
  .readme,
  .contactme {
    position: relative;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;
    margin-top: 1.5em;
  }
  
  .readme {
    background: #fff;
    color: #00796b;
  }
  
  .readme:hover {
    background: transparent;
    color: #fff;
  }
  
  .contactme {
    background: transparent;
    color: #fff;
  }
  
  .contactme:hover {
    background: #fff;
    color: #00796b;
  }
  
  body {
    color: #333;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
  a {
    color: #004d40;
  }
  
  blockquote {
    border-left: 5px solid #795548;
    color: #795548;
    font-size: 125%;
    font-weight: 400;
    margin: 20px 0;
    padding-left: 1.5rem;
  }
  
  main {
    background: url(../img/bg.png) repeat;
    padding-left: 300px;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  h3.page-title {
    font-weight: 200;
    margin: 0;
    padding: 30px 40px;
    text-transform: uppercase;
  }
  
  .section {
    padding: 60px 0;
  }
  
  .full-height {
    height: 100vh;
  }
  
  #intro {
    background: #66a395;
    position: relative;
    color: white;
  }
  
  #intro .container {
    position: relative;
    align-items: center;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: 10px;
  }
  
  #intro h2 {
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  #intro h5 {
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .card .card-content {
    padding: 30px;
  }
  
  .card .card-title {
    font-size: 24px;
    line-height: 1.5;
  }
  
  a.hoverline {
    border-bottom: 3px solid transparent !important;
    padding: 3px 3px 0 3px;
    transition: 0.25s all;
  }
  
  a.hoverline:hover {
    border-bottom: 3px solid #004d40 !important;
  }
  
  #skills .card {
    padding: 20px;
  }
  
  #skills h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  
  #skills .col p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  #contact a:not(.btn-floating) {
    bottom: 6px;
    left: 20px;
    position: relative;
  }
  
  .teal-text {
    color: #008073 !important;
  }
  
  .teal {
    background-color:   #004d40 !important;
  }
  
  @media (max-width: 992px) {
    main {
      padding-left: 0;
    }
  }
  
  @media (max-width: 600px) {
    #intro h2 {
      font-size: 2.5rem;
    }
  
    #intro h5 {
      font-size: 1.2rem;
    }
  }